/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	height: 100%;
	width: 100%; 
}
/**********************************************/


/*basic rules*/
.page {
	position: absolute;
	width: 100%;
	height: 100%;	
}

#i1 {
	left: 100%;
	background-color: red;
}

#i2 {
	left: 200%;
	background-color: blue;
}

#i3 {
	left: 300%;
	background-color: green;
}

/*transition*/

.page {
	transition: transform .8s;
}

/*sliding action*/
#a1:target .page {
	transform: translateX(-100%);
}

#a2:target .page {
	transform: translateX(-200%);
}

#a3:target .page {
	transform: translateX(-300%);
}


/*fallback*/

.page {
	transform: translateX(-100%);
}

