/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	height: 100%;
	width: 100%; 
}
/**********************************************/

#main {
	width: 400px;
	margin: 0 auto;
}

.div-before {
	background-color: orange;
	position: static;
}

.div-1 {
	background-color: black;
	color: white;
	padding: 5px;
	position: relative;
	height: 150px;
}

.div-1a {
	background-color: red;
	position: absolute;
	top:0px;
	right: 0px;
	width: 200px;
}

.div-1b {
	background-color: green;
	position: absolute;
	left:0px;
	top:0px;
	width: 200px;
}

.div-1c {
	background-color: blue;
}

.div-after {
	background-color: #ab14b5;
}




