/**********************************************/
/*normalize css for all browsers, reset values*/
/**********************************************/
* {
	padding:0;
	margin: 0;
}

html, body {
	margin: 0;	
	padding: 0;	
	height: 100%;
	width: 100%; 
}
/**********************************************/

canvas#mycanvas {
	position: absolute;
	width: 200px;
	height: 200px;
	float: left;
}

header {
	margin: 0 auto;
	width: 600px;
	height: 200px;
	border: 1px solid black;
	position: relative;
}

header nav {
	float: left;
	margin-left: 250px;
	position: absolute;
	bottom: 20px;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header nav ul li{
	display: inline;
}